;; shadow-cljs configuration
;;use deps.edn for dependencies
{:deps true
 :nrepl {:port 3010}
 :builds {:app {:target :browser
                :modules {:base {:init-fn example.core/init}}
                :output-dir "public/js/compiled"
                :asset-path "/js/compiled"
                :compiler-options {:closure-defines {re-frame.trace.trace-enabled? true}}
                :devtools {:http-root "public"
                           :http-port 3000}}}}